# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY

menu "Image Installs"

config HAS_IMAGE_INSTALL_BLKPG_PART
	bool "Install blkpg-part"
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_BLKPG_PART
	help
	  Partition table and disk geometry handling utility.

	  https://github.com/gportay/blkpg-part

config KAS_INCLUDE_HAS_IMAGE_INSTALL_BLKPG_PART
	string
	depends on HAS_IMAGE_INSTALL_BLKPG_PART
	default "image-installs/blkpg-part.yaml"

config HAS_IMAGE_INSTALL_RAUC
	bool "Install RAUC"
	select HAS_LAYER_META_RAUC
	help
	  Safe and secure software updates for embedded Linux.

	  https://rauc.io/

config KAS_INCLUDE_HAS_IMAGE_INSTALL_RAUC
	string
	depends on HAS_IMAGE_INSTALL_RAUC
	default "image-installs/rauc.yaml"

if HAS_IMAGE_INSTALL_RAUC

config HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_RAUC_BOOTLOADER_BACKEND
	bool "raspberrypi-firmware-rauc-bootloader-backend"
	depends on IS_RASPBERRYPI
	depends on IS_RASPBERRYPI_BOOTLOADER_RASPBERRYPI_FIRMWARE
	select HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_SYSTEMD_GENERATOR
	select HAS_IMAGE_INSTALL_RPI_AUTOBOOT
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	default y
	help
	  An implementation of a RAUC custom bootloader backend for the
	  Raspberry Pi firmware.

	  https://github.com/gportay/raspberrypi-firmware-rauc-bootloader-backend

config KAS_INCLUDE_HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_RAUC_BOOTLOADER_BACKEND
	string
	depends on HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_RAUC_BOOTLOADER_BACKEND
	default "image-installs/raspberrypi-firmware-rauc-bootloader-backend.yaml"

config HAS_IMAGE_INSTALL_RAUC_RASPBERRYPI
	bool
	depends on IS_MACHINE_RASPBERRYPI3_64 || \
		   IS_MACHINE_RASPBERRYPI4_64
	depends on IS_RASPBERRYPI_BOOTLOADER_U_BOOT
	select HAS_LAYER_META_RAUC_COMMUNITY
	select HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_RASPBERRYPI
	default y

config KAS_INCLUDE_HAS_IMAGE_INSTALL_RAUC_RASPBERRYPI
	string
	depends on HAS_IMAGE_INSTALL_RAUC_RASPBERRYPI
	default "image-installs/rauc-raspberrypi.yaml"

config HAS_IMAGE_INSTALL_RAUC_QEMUX86
	bool
	depends on IS_MACHINE_QEMUX86_64
	depends on HAS_QEMUALL_USE_WIC
	select HAS_LAYER_META_RAUC_COMMUNITY
	select HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_QEMUX86
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_DOWNSTREAM
	default y

config KAS_INCLUDE_HAS_IMAGE_INSTALL_RAUC_QEMUX86
	string
	depends on HAS_IMAGE_INSTALL_RAUC_QEMUX86
	default "image-installs/rauc-qemux86.yaml"

endif # HAS_IMAGE_INSTALL_RAUC

config HAS_IMAGE_INSTALL_SSSD
	bool "Install SSSD"
	select HAS_LAYER_META_OPENEMBEDDED
	select HAS_LAYER_META_OPENEMBEDDED_META_OE
	select HAS_LAYER_META_OPENEMBEDDED_META_NETWORKING
	select HAS_LAYER_META_SECURITY
	select HAS_DISTRO_FEATURE_PAM
	select HAS_DISTRO_FEATURE_SECURITY
	help
	  A daemon to manage identity, authentication and authorization
	  for centrally-managed systems.

	  https://sssd.io/

config KAS_INCLUDE_HAS_IMAGE_INSTALL_SSSD
	string
	depends on HAS_IMAGE_INSTALL_SSSD
	default "image-installs/sssd.yaml"

config HAS_IMAGE_INSTALL_SSSD_PYTHON3_BINDINGS
	bool "python3-bindings"
	depends on HAS_IMAGE_INSTALL_SSSD
	select HAS_LAYER_META_OPENEMBEDDED_META_PYTHON

config KAS_INCLUDE_HAS_IMAGE_INSTALL_SSSD_PYTHON3_BINDINGS
	string
	depends on HAS_IMAGE_INSTALL_SSSD_PYTHON3_BINDINGS
	default "image-installs/sssd-python3-bindings.yaml"

config HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_SYSTEMD_GENERATOR
	bool "raspberrypi-firmware-systemd-generator"
	depends on HAS_DISTRO_FEATURE_SYSTEMD
	depends on IS_RASPBERRYPI
	depends on IS_RASPBERRYPI_BOOTLOADER_RASPBERRYPI_FIRMWARE
	select HAS_LAYER_META_RAUC_COMMUNITY
	select HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_RASPBERRYPI
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	help
	  A systemd-generator for mounting the bootloader partitions of
	  the Raspberry Pi firmware.

	  https://github.com/gportay/raspberrypi-firmware-systemd-generator

config KAS_INCLUDE_HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_SYSTEMD_GENERATOR
	string
	depends on HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_SYSTEMD_GENERATOR
	default "image-installs/raspberrypi-firmware-systemd-generator.yaml"

endmenu
