# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY

menu "Image Install"

config HAS_IMAGE_INSTALL_BLKPG_PART
	bool "Install blkpg-part"
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_BLKPG_PART
	help
	  Partition table and disk geometry handling utility.

	  https://github.com/gportay/blkpg-part

config KAS_INCLUDE_IMAGE_INSTALL_BLKPG_PART
	string
	depends on HAS_IMAGE_INSTALL_BLKPG_PART
	default "image-installs/blkpg-part.yaml"

config HAS_IMAGE_INSTALL_RAUC
	bool "Install RAUC"
	select HAS_LAYER_META_RAUC
	help
	  Safe and secure software updates for embedded Linux.

	  https://rauc.io/

config KAS_INCLUDE_IMAGE_INSTALL_RAUC
	string
	depends on HAS_IMAGE_INSTALL_RAUC
	default "image-installs/rauc.yaml"

if HAS_IMAGE_INSTALL_RAUC

config HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_RAUC_BOOTLOADER_BACKEND
	bool "raspberrypi-firmware-rauc-bootloader-backend"
	depends on IS_MACHINE_RASPBERRYPI4_64 || IS_MACHINE_RASPBERRYPI5
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	default y
	help
	  An implementation of a RAUC custom bootloader backend for the
	  Raspberry Pi firmware.

	  https://github.com/gportay/raspberrypi-firmware-rauc-bootloader-backend

config KAS_INCLUDE_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_RAUC_BOOTLOADER_BACKEND
	string
	depends on HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_RAUC_BOOTLOADER_BACKEND
	default "image-installs/raspberrypi-firmware-rauc-bootloader-backend.yaml"

config HAS_IMAGE_INSTALL_RAUC_RASPBERRYPI
	bool
	default y if IS_RASPBERRYPI
	select HAS_LAYER_META_RAUC_COMMUNITY
	select HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_RASPBERRYPI

config HAS_IMAGE_INSTALL_RAUC_QEMUX86
	bool
	default y if IS_MACHINE_QEMUX64_64
	select HAS_LAYER_META_RAUC_COMMUNITY
	select HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_QEMUX86

endif # HAS_IMAGE_INSTALL_RAUC

config HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_SYSTEMD_GENERATOR
	bool "raspberrypi-firmware-systemd-generator"
	depends on HAS_DISTRO_FEATURE_SYSTEMD
	depends on IS_RASPBERRYPI
	select HAS_LAYER_META_RAUC_COMMUNITY
	select HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_RASPBERRYPI
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	help
	  A systemd-generator for mounting the bootloader partitions of
	  the Raspberry Pi firmware.

	  https://github.com/gportay/raspberrypi-firmware-systemd-generator

config KAS_INCLUDE_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_SYSTEMD_GENERATOR
	string
	depends on HAS_IMAGE_INSTALL_RASPBERRYPI_FIRMWARE_SYSTEMD_GENERATOR
	default "image-installs/raspberrypi-firmware-systemd-generator.yaml"

config HAS_IMAGE_INSTALL_RPI_AUTOBOOT
	bool "Append rpi-autoboot to rpi-bootfiles run-time dependency"
	depends on IS_MACHINE_RASPBERRYPI4_64 || IS_MACHINE_RASPBERRYPI5
	select HAS_LAYER_META_RAUC_COMMUNITY
	select HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_RASPBERRYPI
	select HAS_LAYER_THIS
	select HAS_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	default y
	help
	  Generated autoboot.txt file for the Raspberry Pi. The
	  Raspberry Pi autoboot.txt file is read by the GPU before the
	  ARM core is initialised. It can be used to specify the
	  boot_partition number. It can also be used in conjuncion with
	  the tryboot feature to implement A/B booting for OS upgrades.

	  https://www.raspberrypi.com/documentation/computers/config_txt.html#autoboot-txt

config KAS_INCLUDE_IMAGE_INSTALL_RPI_AUTOBOOT
	string
	depends on HAS_IMAGE_INSTALL_RPI_AUTOBOOT
	default "image-installs/rpi-autoboot.yaml"

endmenu
