# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2025-2026 Gaël PORTAY

choice
	prompt "Distro"
	default IS_DISTRO_POKY if IS_BRANCH_SCARTHGAP
	default IS_DISTRO_NODISTRO

config IS_DISTRO_NODISTRO
	bool "nodistro"
	help
	  https://git.openembedded.org/openembedded-core/

config IS_DISTRO_POKY
	bool "poky"
	select HAS_LAYER_META_YOCTO if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_META_YOCTO_META_POKY if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_POKY if IS_OPENEMBEDDED_CORE_POKY
	select HAS_LAYER_POKY_META_POKY if IS_OPENEMBEDDED_CORE_POKY
	help
	  https://git.yoctoproject.org/meta-yocto/tree/meta-poky/conf/distro/poky.conf

config IS_DISTRO_POKY_ALTCFG
	bool "poky-altcfg"
	select HAS_LAYER_META_YOCTO if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_META_YOCTO_META_POKY if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_POKY if IS_OPENEMBEDDED_CORE_POKY
	select HAS_LAYER_POKY_META_POKY if IS_OPENEMBEDDED_CORE_POKY
	help
	  https://git.yoctoproject.org/meta-yocto/tree/meta-poky/conf/distro/poky-altcfg.conf

config IS_DISTRO_POKY_BLEEDING
	bool "poky-bleeding"
	select HAS_LAYER_META_YOCTO if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_META_YOCTO_META_POKY if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_POKY if IS_OPENEMBEDDED_CORE_POKY
	select HAS_LAYER_POKY_META_POKY if IS_OPENEMBEDDED_CORE_POKY
	help
	  https://git.yoctoproject.org/meta-yocto/tree/meta-poky/conf/distro/poky-bleeding.conf

config IS_DISTRO_POKY_TINY
	bool "poky-tiny"
	select HAS_LAYER_META_YOCTO if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_META_YOCTO_META_POKY if IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	select HAS_LAYER_POKY if IS_OPENEMBEDDED_CORE_POKY
	select HAS_LAYER_POKY_META_POKY if IS_OPENEMBEDDED_CORE_POKY
	help
	  https://git.yoctoproject.org/meta-yocto/tree/meta-poky/conf/distro/poky-tiny.conf

endchoice

config KAS_INCLUDE_IS_DISTRO
	string
	default "distros/nodistro.yaml" if IS_DISTRO_NODISTRO
	default "distros/poky.yaml" if IS_DISTRO_POKY
	default "distros/poky-altcfg.yaml" if IS_DISTRO_POKY_ALTCFG
	default "distros/poky-bleeding.yaml" if IS_DISTRO_POKY_BLEEDING
	default "distros/poky-tiny.yaml" if IS_DISTRO_POKY_TINY
	default ""
