# SPDX-License-Identifier: LGPL-2.1-only AND CC-BY-SA-2.0-UK
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY
# SPDX-FileCopyrightText: The OpenEmbedded Contributors
#
# The help texts are stolen from the Yocto Project Reference Manual.
#
# https://docs.yoctoproject.org/dev/ref-manual/variables.html#term-BB_NO_NETWORK

config KAS_INCLUDE_MAIN
	string
	default "kas-project.yaml"

config KAS_DISTRO_POKY
	bool
	select HAS_LAYER_POKY
	select HAS_LAYER_POKY_META_POKY
	default y

menu "General"
source "branches/Kconfig"
source "layers/Kconfig"
source "inherits/Kconfig"

config HAS_BB_NO_NETWORK
	bool "No network"
	help
	  Disables network access in the BitBake fetcher modules. With
	  this access disabled, any command that attempts to access the
	  network becomes an error.

	  Disabling network access is useful for testing source mirrors,
	  running builds when not connected to the Internet, and when
	  operating in certain kinds of firewall environments.

config KAS_INCLUDE_HAS_BB_NO_NETWORK
	string
	depends on HAS_BB_NO_NETWORK
	default "bb-no-network.yaml"

endmenu

menu "Hardware"
source "machines/Kconfig"
endmenu

menu "System"
source "init-manager/Kconfig"
source "distro-features/Kconfig"
endmenu

menu "Image"
source "image-classes/Kconfig"
source "image-depends/Kconfig"
source "image-features/Kconfig"
source "image-fstypes/Kconfig"
source "image-installs/Kconfig"
endmenu

menu "Quirks"
	depends on (IS_BRANCH_KIRKSTONE || IS_BRANCH_SCARTHGAP) || \
		   (IS_BRANCH_MASTER && HAS_LAYER_META_CORAL)
source "quirks/Kconfig"
endmenu
