# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY

config KAS_INCLUDE_MAIN
	string
	default "kas-project.yaml"

menu "General"
source "branches/Kconfig"
source "layers/Kconfig"
source "inherits/Kconfig"
endmenu

menu "Hardware"
source "machines/Kconfig"
endmenu

menu "System"
source "init-manager/Kconfig"
source "distro-features/Kconfig"
endmenu

menu "Image"
source "image-features/Kconfig"
endmenu

menu "Quirks"
	depends on IS_BRANCH_KIRKSTONE || IS_BRANCH_SCARTHGAP
source "quirks/Kconfig"
endmenu
