# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024-2026 Gaël PORTAY

menu "Layers"

choice
	prompt "OpenEmbedded-Core"
	default IS_OPENEMBEDDED_CORE_POKY if IS_BRANCH_SCARTHGAP
	default IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE

config IS_OPENEMBEDDED_CORE_OPENEMBEDDED_CORE
	bool "openembedded-core"
	select HAS_LAYER_BITBAKE
	select HAS_LAYER_OPENEMBEDDED_CORE
	select HAS_LAYER_OPENEMBEDDED_CORE_META
	help
	  https://git.openembedded.org/openembedded-core/

config IS_OPENEMBEDDED_CORE_POKY
	bool "poky"
	depends on IS_BRANCH_SCARTHGAP
	select HAS_LAYER_POKY
	select HAS_LAYER_POKY_META
	help
	  https://git.yoctoproject.org/poky

endchoice

source "layers/poky/Kconfig"
source "layers/bitbake/Kconfig"
source "layers/openembedded-core/Kconfig"
source "layers/meta-yocto/Kconfig"
source "layers/meta-openembedded/Kconfig"
source "layers/meta-security/Kconfig"
source "layers/meta-clang/Kconfig"
source "layers/meta-lts-mixins/Kconfig"
source "layers/meta-rauc/Kconfig"
source "layers/meta-rauc-community/Kconfig"
source "layers/meta-aws/Kconfig"
source "layers/meta-arm/Kconfig"
source "layers/meta-freescale/Kconfig"
source "layers/meta-riscv/Kconfig"
source "layers/meta-coral/Kconfig"
source "layers/meta-raspberrypi/Kconfig"
source "layers/this/Kconfig"
endmenu
