# SPDX-License-Identifier: LGPL-2.1-only AND CC-BY-SA-2.0-UK
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY
# SPDX-FileCopyrightText: The OpenEmbedded Contributors
#
# The help texts are stolen from the Yocto Project Reference Manual.
#
# https://docs.yoctoproject.org/dev/ref-manual/index.html
# https://docs.yoctoproject.org/dev/ref-manual/features.html

menu "Image features"

choice
	prompt "Enable ssh-server"
	default IS_IMAGE_FEATURE_SSH_SERVER_NONE

config IS_IMAGE_FEATURE_SSH_SERVER_NONE
	bool "none"

config IS_IMAGE_FEATURE_SSH_SERVER_DROPBEAR
	bool "Dropbear"
	help
	  Installs the Dropbear minimal SSH server.

	  https://matt.ucc.asn.au/dropbear/dropbear.html

config IS_IMAGE_FEATURE_SSH_SERVER_OPENSSH
	bool "OpenSSH"
	help
	  Installs the OpenSSH SSH server, which is more full-featured
	  than Dropbear. Note that if both the OpenSSH SSH server and
	  the Dropbear minimal SSH server are present in IMAGE_FEATURES,
	  then OpenSSH will take precedence and Dropbear will not be
	  installed.

	  https://www.openssh.com/

endchoice

config KAS_INCLUDE_IMAGE_FEATURE_SSH_SERVER_DROPBEAR
	string
	depends on HAS_IMAGE_FEATURE_SSH_SERVER_DROPBEAR
	default "image-features/ssh-server-dropbear.yaml"

config HAS_IMAGE_FEATURE_SSH_SERVER_DROPBEAR_OPENSSH_SFTP_SERVER
	bool
	depends on IS_IMAGE_FEATURE_SSH_SERVER_DROPBEAR
	prompt "Install openssh-sftp-server"
	default y
	help
	  As of the 4.1 release, the ssh-server-dropbear feature also
	  recommends the openssh-sftp-server package, which by default
	  will be pulled into the image. This is because recent versions
	  of the OpenSSH scp client now use the SFTP protocol, and thus
	  require an SFTP server to be present to connect to.

config KAS_INCLUDE_IMAGE_FEATURE_SSH_SERVER_DROPBEAR_OPENSSH_SFTP_SERVER
	string
	default "image-features/ssh-server-dropbear+openssh-sftp-server.yaml" \
		if IS_BRANCH_KIRKSTONE && HAS_IMAGE_FEATURE_SSH_SERVER_DROPBEAR_OPENSSH_SFTP_SERVER
	default "image-features/ssh-server-dropbear-openssh-sftp-server.yaml" \
		if !IS_BRANCH_KIRKSTONE && !HAS_IMAGE_FEATURE_SSH_SERVER_DROPBEAR_OPENSSH_SFTP_SERVER
	default ""

config KAS_INCLUDE_IMAGE_FEATURE_SSH_SERVER_OPENSSH
	string
	depends on HAS_IMAGE_FEATURE_SSH_SERVER_OPENSSH
	default "image-features/ssh-server-openssh.yaml"

config HAS_IMAGE_FEATURE_READ_ONLY_ROOTFS
	bool
	prompt "Enable read-only-rootfs"
	help
	  Creates an image whose root filesystem is read-only. See the
	  "Creating a Read-Only Root Filesystem” section in the Yocto
	  Project Development Tasks Manual for more information.

	  https://docs.yoctoproject.org/dev/dev-manual/read-only-rootfs.html#creating-a-read-only-root-filesystem

config KAS_INCLUDE_IMAGE_FEATURE_READ_ONLY_ROOTFS
	string
	depends on HAS_IMAGE_FEATURE_READ_ONLY_ROOTFS
	default "image-features/read-only-rootfs.yaml"

config HAS_IMAGE_FEATURE_READ_ONLY_ROOTFS_DELAYED_POSTINSTS
	bool
	prompt "Enable read-only-rootfs-delayed-postinsts"
	depends on HAS_IMAGE_FEATURE_READ_ONLY_ROOTFS
	help
	  Specifies that post-install scripts are still permitted (this
	  assumes that the root filesystem will be made writeable for
	  the first boot; this feature does not do anything to ensure
	  that - it just disables the check for post-install scripts.).

config KAS_INCLUDE_IMAGE_FEATURE_READ_ONLY_ROOTFS_DELAYED_POSTINSTS
	string
	depends on HAS_IMAGE_FEATURE_READ_ONLY_ROOTFS_DELAYED_POSTINSTS
	default "image-features/read-only-rootfs-delayed-postinsts.yaml"

config HAS_IMAGE_FEATURE_OVERLAYFS_ETC
	bool
	prompt "Enable overlayfs-etc"
	help
	  Configures the /etc directory to be in overlayfs. This allows
	  to store device specific information elsewhere, especially if
	  the root filesystem is configured to be read-only.

config KAS_INCLUDE_IMAGE_FEATURE_OVERLAYFS_ETC
	string
	depends on HAS_IMAGE_FEATURE_OVERLAYFS_ETC
	default "image-features/overlayfs-etc"

config HAS_IMAGE_FEATURE_DEBUG_TWEAKS
	bool
	prompt "Enable debug-tweaks"
	depends on IS_BRANCH_KIRKSTONE || \
		   IS_BRANCH_SCARTHGAP || \
		   IS_BRANCH_STYHEAD
	select HAS_IMAGE_FEATURE_ALLOW_EMPTY_PASSWORD
	select HAS_IMAGE_FEATURE_EMPTY_ROOT_PASSWORD
	select HAS_IMAGE_FEATURE_ALLOW_ROOT_LOGIN
	select HAS_IMAGE_FEATURE_POST_INSTALL_LOGGING
	default y
	help
	  Makes an image suitable for development (e.g. allows root
	  logins, logins without passwords —including root ones, and
	  enables post-installation logging). See the
	  allow-empty-password, allow-root-login, empty-root-password,
	  and post-install-logging features in this list for additional
	  information.

config HAS_IMAGE_FEATURE_ALLOW_EMPTY_PASSWORD
	bool
	prompt "Enable allow-empty-password"
	default y
	help
	  Allows Dropbear and OpenSSH to accept logins from accounts
	  having an empty password string.


config KAS_INCLUDE_IMAGE_FEATURE_ALLOW_EMPTY_PASSWORD
	string
	depends on HAS_IMAGE_FEATURE_ALLOW_EMPTY_PASSWORD
	default "image-features/allow-empty-password.yaml"

config HAS_IMAGE_FEATURE_EMPTY_ROOT_PASSWORD
	bool
	prompt "Enable empty-root-password"
	default y
	help
	  This feature or debug-tweaks is required if you want to allow
	  root login with an empty password. If these features are not
	  present in IMAGE_IMAGE_FEATURES, a non-empty password is forced in
	  /etc/passwd and /etc/shadow if such files exist.

	  Note: empty-root-password doesn’t set an empty root password
	  by itself. You get an initial empty root password thanks to
	  the base-passwd and shadow recipes, and the presence of
	  empty-root-password or debug-tweaks just disables the
	  mechanism which forces an non-empty password for the root
	  user.

config KAS_INCLUDE_IMAGE_FEATURE_EMPTY_ROOT_PASSWORD
	string
	depends on HAS_IMAGE_FEATURE_EMPTY_ROOT_PASSWORD
	default "image-features/empty-root-password.yaml"

config HAS_IMAGE_FEATURE_ALLOW_ROOT_LOGIN
	bool
	prompt "Enable allow-root-login"
	default y
	help
	  Allows Dropbear and OpenSSH to accept root logins.

config KAS_INCLUDE_IMAGE_FEATURE_ALLOW_ROOT_LOGIN
	string
	depends on HAS_IMAGE_FEATURE_ALLOW_ROOT_LOGIN
	default "image-features/allow-root-login.yaml"

config HAS_IMAGE_FEATURE_POST_INSTALL_LOGGING
	bool
	prompt "Enable post-install-logging"
	default y

config KAS_INCLUDE_IMAGE_FEATURE_POST_INSTALL_LOGGING
	string
	depends on HAS_IMAGE_FEATURE_POST_INSTALL_LOGGING
	default "image-features/post-install-logging.yaml"

endmenu
