# SPDX-License-Identifier: LGPL-2.1-only AND CC-BY-SA-2.0-UK
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY
# SPDX-FileCopyrightText: The OpenEmbedded Contributors
#
# The help texts are stolen from the Yocto Project Reference Manual.
#
# https://docs.yoctoproject.org/dev/ref-manual/index.html
# https://docs.yoctoproject.org/dev/ref-manual/classes.html#rm-work

menu "Global Classes"

config HAS_INHERIT_RM_WORK
	bool "Inherit rm_work"
	help
	  The rm_work class supports deletion of temporary workspace,
	  which can ease your hard drive demands during builds.

	  The OpenEmbedded build system can use a substantial amount of
	  disk space during the build process. A portion of this space
	  is the work files under the ${TMPDIR}/work directory for each
	  recipe. Once the build system generates the packages for a
	  recipe, the work files for that recipe are no longer needed.
	  However, by default, the build system preserves these files
	  for inspection and possible debugging purposes. If you would
	  rather have these files deleted to save disk space as the
	  build progresses, you can enable rm_work.

	  https://docs.yoctoproject.org/ref-manual/classes.html#rm-work

config KAS_INCLUDE_INHERIT_RM_WORK
	string
	depends on HAS_INHERIT_RM_WORK
	default "inherits/rm_work.yaml"

endmenu
