# SPDX-License-Identifier: LGPL-2.1-only AND CC-BY-SA-2.0-UK
# SPDX-FileCopyrightText: Copyright 2024-2025 Gaël PORTAY
# SPDX-FileCopyrightText: The OpenEmbedded Contributors
#
# The help texts are stolen from the Yocto Project Release Information.
#
# https://docs.yoctoproject.org/dev/migration-guides/index.html
# https://docs.yoctoproject.org/dev/migration-guides/migration-5.1.html#workdir-references-in-recipes

config HAS_QUIRK_UNPACKDIR
	bool "Set UNPACKDIR to ${WORKDIR}"
	depends on IS_BRANCH_SCARTHGAP
	help
	  Since Skyhead (5.1), WORKDIR references in other recipes need
	  auditing. If they reference files from SRC_URI, they likely
	  need changing to UNPACKDIR. These are commonly in do_compile
	  and do_install for things like service or configuration files.
	  One unusual case is ${WORKDIR}/${BP} which should probably be
	  set to ${S}.

	  References to ../ in LIC_FILES_CHKSUM or elsewhere may need
	  changing to UNPACKDIR. References to WORKDIR in sed commands
	  are usually left as they are.

	  https://docs.yoctoproject.org/dev/ref-manual/variables.html#term-UNPACKDIR
	  https://docs.yoctoproject.org/dev/migration-guides/migration-5.1.html#workdir-references-in-recipes
	  https://git.yoctoproject.org/poky/commit/?id=812dafbec1918fbbf89e8466988da602bf5edee0
	  https://git.yoctoproject.org/poky/commit/?id=d24a7d0fb16457e10e7a216d4c9ae3fb265113d1

config KAS_INCLUDE_HAS_QUIRK_UNPACKDIR
	string
	depends on HAS_QUIRK_UNPACKDIR
	default "quirks/unpackdir.yaml"

config HAS_QUIRK_S_WORKDIR_SOMETHING
	bool "Set S to ${WORKING}/something"
	depends on IS_BRANCH_SCARTHGAP
	help
	  S = ${WORKDIR}/something no longer supported

	  Since Whinlatter (5.3), if a recipe has S set to be
	  ${WORKDIR}/something, this is no longer supported, and an
	  error will be issued. The recipe should be changed to:
	  S = "${UNPACKDIR}/something"

	  https://docs.yoctoproject.org/dev/migration-guides/migration-5.3.html#s-workdir-something-no-longer-supported
	  https://docs.yoctoproject.org/dev/ref-manual/variables.html#term-WORKDIR

config KAS_INCLUDE_HAS_QUIRK_S_WORKDIR_SOMETHING
	string
	depends on HAS_QUIRK_S_WORKDIR_SOMETHING
	default "quirks/s-workdir-something.yaml"

config HAS_QUIRK_S_UNPACKDIR_GIT
	bool "Set S to ${UNPACKDIR}/git"
	depends on IS_BRANCH_SCARTHGAP
	select HAS_QUIRK_UNPACKDIR
	help
	  S = ${WORKDIR}/something no longer supported

	  Since Whinlatter (5.3), if a recipe has S set to be
	  ${WORKDIR}/something, this is no longer supported, and an
	  error will be issued. The recipe should be changed to:
	  S = "${UNPACKDIR}/something"

	  S = ${WORKDIR}/git and S = ${UNPACKDIR}/git should be removed

	  Since Whinlatter (5.3), the Git fetcher now unpacks into the
	  BB_GIT_DEFAULT_DESTSUFFIX directory rather than the git/
	  directory under UNPACKDIR. BB_GIT_DEFAULT_DESTSUFFIX is set
	  in OpenEmbedded-Core (OE-Core)’s bitbake.conf to BP.

	  This location matches the default value of S set by
	  bitbake.conf, so S setting in recipes can and should be
	  removed.

	  Note that when S is set to a subdirectory of the git checkout
	  then it should be instead adjusted according to the previous
	  point:

	    S = "${UNPACKDIR}/${BP}/something"

	  Note that “git” as the source checkout location can be
	  hardcoded in other places in recipes; when it’s in SRC_URI,
	  replace with BB_GIT_DEFAULT_DESTSUFFIX, otherwise replace
	  with BP.

	  https://docs.yoctoproject.org/dev/migration-guides/migration-5.3.html#s-workdir-git-and-s-unpackdir-git-should-be-removed
	  https://docs.yoctoproject.org/dev/ref-manual/variables.html#term-BB_GIT_DEFAULT_DESTSUFFIX
	  https://docs.yoctoproject.org/dev/ref-manual/variables.html#term-UNPACKDIR
	  https://docs.yoctoproject.org/dev/ref-manual/variables.html#term-BP
	  https://git.openembedded.org/openembedded-core/tree/meta/conf/bitbake.conf#n411

config KAS_INCLUDE_HAS_QUIRK_S_UNPACKDIR_GIT
	string
	depends on HAS_QUIRK_S_UNPACKDIR_GIT
	default "quirks/s-unpackdir-git.yaml"

config HAS_QUIRK_REMOVE_LINUX_CORAL_QA_ERRORS
	bool "Remove linux-coral QA Errors"
	depends on IS_BRANCH_MASTER
	default y if HAS_LAYER_META_CORAL
	help
	  The Upstream-Status value is missing in the specified patch
	  file’s header. This value is intended to track whether or not
	  the patch has been sent upstream, whether or not it has been
	  merged, etc.

	  There are two options for this same check - patch-status-core
	  (for recipes in OE-Core) and patch-status-noncore (for recipes
	  in any other layer).

	  For more information, see the “Patch Upstream Status” section
	  in the Yocto Project and OpenEmbedded Contributor Guide.

	  https://docs.yoctoproject.org/dev/ref-manual/qa-checks.html
	  https://docs.yoctoproject.org/dev/contributor-guide/recipe-style-guide.html#patch-upstream-status

config KAS_INCLUDE_HAS_QUIRK_REMOVE_LINUX_CORAL_QA_ERRORS
	string
	depends on HAS_QUIRK_REMOVE_LINUX_CORAL_QA_ERRORS
	default "quirks/remove-linux-coral-qa-errors.yaml"
