# SPDX-License-Identifier: LGPL-2.1-only AND CC-BY-SA-2.0-UK
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY
# SPDX-FileCopyrightText: The OpenEmbedded Contributors
#
# The help texts are stolen from the Yocto Project Release Information.
#
# https://docs.yoctoproject.org/dev/migration-guides/index.html
# https://docs.yoctoproject.org/dev/migration-guides/migration-5.1.html#workdir-references-in-recipes

config HAS_QUIRK_UNPACKDIR
	bool "Set UNPACKDIR to ${WORKDIR}"
	depends on IS_BRANCH_KIRKSTONE || IS_BRANCH_SCARTHGAP
	default y if HAS_LAYER_THIS_META_BLKPG_PART
	help
	  Since Skyhead (5.1), WORKDIR references in other recipes need
	  auditing. If they reference files from SRC_URI, they likely
	  need changing to UNPACKDIR. These are commonly in do_compile
	  and do_install for things like service or configuration files.
	  One unusual case is ${WORKDIR}/${BP} which should probably be
	  set to ${S}.

	  References to ../ in LIC_FILES_CHKSUM or elsewhere may need
	  changing to UNPACKDIR. References to WORKDIR in sed commands
	  are usually left as they are.

	  https://docs.yoctoproject.org/dev/ref-manual/variables.html#term-UNPACKDIR
	  https://docs.yoctoproject.org/dev/migration-guides/migration-5.1.html#workdir-references-in-recipes
	  https://git.yoctoproject.org/poky/commit/?id=812dafbec1918fbbf89e8466988da602bf5edee0
	  https://git.yoctoproject.org/poky/commit/?id=d24a7d0fb16457e10e7a216d4c9ae3fb265113d1

config KAS_INCLUDE_QUIRK_UNPACKDIR
	string
	depends on HAS_QUIRK_UNPACKDIR
	default "quirks/unpackdir.yaml"

config HAS_QUIRK_REMOVE_LINUX_CORAL_QA_ERRORS
	bool "Remove linux-coral QA Errors"
	depends on IS_BRANCH_MASTER
	default y if HAS_LAYER_META_CORAL
	help
	  The Upstream-Status value is missing in the specified patch
	  file’s header. This value is intended to track whether or not
	  the patch has been sent upstream, whether or not it has been
	  merged, etc.

	  There are two options for this same check - patch-status-core
	  (for recipes in OE-Core) and patch-status-noncore (for recipes
	  in any other layer).

	  For more information, see the “Patch Upstream Status” section
	  in the Yocto Project and OpenEmbedded Contributor Guide.

	  https://docs.yoctoproject.org/dev/ref-manual/qa-checks.html
	  https://docs.yoctoproject.org/dev/contributor-guide/recipe-style-guide.html#patch-upstream-status

config KAS_INCLUDE_QUIRK_REMOVE_LINUX_CORAL_QA_ERRORS
	string
	depends on HAS_QUIRK_REMOVE_LINUX_CORAL_QA_ERRORS
	default "quirks/remove-linux-coral-qa-errors.yaml"
