# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024-2026 Gaël PORTAY

config HAS_LAYER_META_FREESCALE
	bool "meta-freescale"
	help
	  Layer containing NXP hardware support metadata.

config KAS_INCLUDE_HAS_LAYER_META_FREESCALE
	string
	depends on HAS_LAYER_META_FREESCALE
	default "layers/meta-freescale/meta-freescale.yaml"
