# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2025 Gaël PORTAY

config HAS_LAYER_META_LTS_MIXINS
	bool "meta-lts-mixins (scarthgap/u-boot)"
	depends on IS_BRANCH_SCARTHGAP
	default y if HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_RASPBERRYPI
	help
	  "Mixin" layer for adding latest Docker versions into the Yocto
	  Project LTS.

config KAS_INCLUDE_HAS_LAYER_META_LTS_MIXINS
	string
	depends on HAS_LAYER_META_LTS_MIXINS
	default "layers/meta-lts-mixins/meta-lts-mixins.yaml"
