# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2026 Gaël PORTAY

config HAS_LAYER_META_CYCLONEDX
	bool "meta-cyclonedx"
	help
	  A Yocto meta-layer for generating CycloneDX SBOMs

config KAS_INCLUDE_HAS_LAYER_META_CYCLONEDX
	string
	depends on HAS_LAYER_META_CYCLONEDX
	default "layers/meta-cyclonedx/meta-cyclonedx.yaml"
