# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY

config HAS_LAYER_META_AWS
	bool "meta-aws"
	select HAS_LAYER_POKY_META
	select HAS_LAYER_META_OPENEMBEDDED
	select HAS_LAYER_META_OPENEMBEDDED_META_OE
	select HAS_LAYER_META_OPENEMBEDDED_META_PYTHON
	select HAS_LAYER_META_OPENEMBEDDED_META_NETWORKING
	select HAS_LAYER_META_OPENEMBEDDED_META_MULTIMEDIA
	help
	  The metadata layer for baking AWS device software to Embedded
	  Linux distributions built by the Yocto Project build system.

config KAS_INCLUDE_HAS_LAYER_META_AWS
	string
	depends on HAS_LAYER_META_AWS
	default "layers/meta-aws/meta-aws.yaml"
