# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY

config HAS_LAYER_THIS
	bool "this"
	help
	  OpenEmbedded meta layer with downstream recipes and changes
	  for upstream.

	  https://github.com/gportay/meta-downstream/

config KAS_INCLUDE_LAYER_THIS
	string
	depends on HAS_LAYER_THIS
	default "layers/this/this.yaml"

if HAS_LAYER_THIS

config HAS_LAYER_THIS_META_DOWNSTREAM
	bool "meta-downstream"
	depends on HAS_LAYER_POKY_META
	help
	  OpenEmbedded meta layer with downstream recipes and changes
	  for upstream.

	  https://github.com/gportay/meta-downstream/tree/master/meta-downstream

config KAS_INCLUDE_LAYER_THIS_META_DOWNSTREAM
	string
	depends on HAS_LAYER_THIS_META_DOWNSTREAM
	default "layers/this/meta-downstream.yaml"

endif # HAS_LAYER_THIS
