# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY

config HAS_LAYER_THIS
	bool "this"
	help
	  OpenEmbedded meta layer with downstream recipes and changes
	  for upstream.

	  https://github.com/gportay/meta-downstream/

config KAS_INCLUDE_LAYER_THIS
	string
	depends on HAS_LAYER_THIS
	default "layers/this/this.yaml"

if HAS_LAYER_THIS

config HAS_LAYER_THIS_META_DOWNSTREAM
	bool "meta-downstream"
	depends on HAS_LAYER_POKY_META
	default y if HAS_DISTRO_FEATURE_SYSTEMD
	help
	  OpenEmbedded meta layer with downstream recipes and changes
	  for upstream.

	  https://github.com/gportay/meta-downstream/tree/master/meta-downstream

config KAS_INCLUDE_LAYER_THIS_META_DOWNSTREAM
	string
	depends on HAS_LAYER_THIS_META_DOWNSTREAM
	default "layers/this/meta-downstream.yaml"

config HAS_LAYER_THIS_META_BLKPG_PART
	bool "meta-blkpg-part"
	depends on HAS_LAYER_POKY_META
	help
	  OpenEmbedded meta layer for partition table and disk geometry
	  handling utility.

	  https://github.com/gportay/meta-downstream/tree/master/meta-downstream

config KAS_INCLUDE_LAYER_THIS_META_BLKPG_PART
	string
	depends on HAS_LAYER_THIS_META_BLKPG_PART
	default "layers/this/meta-blkpg-part.yaml"

config HAS_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	bool "meta-rauc-raspberrypi-firmware"
	depends on HAS_LAYER_META_RAUC
	depends on HAS_LAYER_META_RAUC_COMMUNITY
	depends on HAS_LAYER_META_RAUC_COMMUNITY_META_RAUC_RASPBERRYPI
	help
	  OpenEmbedded meta layer with raspberrypi-firmware integration
	  of RAUC, the embedded Linux A/B update framework.

config KAS_INCLUDE_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	string
	depends on HAS_LAYER_THIS_META_RAUC_RASPBERRYPI_FIRMWARE
	default "layers/this/meta-rauc-raspberrypi-firmware.yaml"

endif # HAS_LAYER_THIS
