# SPDX-License-Identifier: LGPL-2.1-only AND CC-BY-SA-2.0-UK
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY
# SPDX-FileCopyrightText: The OpenEmbedded Contributors
#
# The help texts are stolen from the Yocto Project Development Tasks Manual.
#
# https://docs.yoctoproject.org/dev/dev-manual/index.html
# https://docs.yoctoproject.org/dev/dev-manual/wic.html

config IS_QEMU
	bool
	default y if IS_MACHINE_QEMUX86_64

menu "QEMU"
	depends on IS_QEMU

config HAS_QEMUALL_USE_WIC
	bool "Use Wic"
	help
	  Generate an Image using an Existing Kickstart File.

	  https://docs.yoctoproject.org/dev/dev-manual/wic.html
	  https://docs.yoctoproject.org/dev/ref-manual/kickstart.html#openembedded-kickstart-wks-reference

config KAS_INCLUDE_HAS_QEMUALL_USE_WIC
	string
	depends on HAS_QEMUALL_USE_WIC
	default "machines/qemuall/use-wic.yaml"

endmenu
