# SPDX-License-Identifier: LGPL-2.1-only AND MIT AND CC-BY-SA-2.0-UK
# SPDX-FileCopyrightText: Copyright 2024,2026 Gaël PORTAY
# SPDX-FileCopyrightText: The OpenEmbedded Contributors
#
# The help texts are stolen from the Yocto Project Reference Manual, the Yocto
# Project Development Tasks Manual and from meta-raspberrypi and meta-security
# layers.
#
# https://docs.yoctoproject.org/dev/dev-manual/index.html
# https://docs.yoctoproject.org/dev/dev-manual/wic.html
# https://docs.yoctoproject.org/ref-manual/variables.html#term-WKS_FILE

menu "Image FileSystem Types"

config HAS_IMAGE_FSTYPES_EXT4
	bool "ext4"
	help
	  Ext4 is an advanced level of the ext3 filesystem which
	  incorporates scalability and reliability enhancements for
	  supporting large filesystems (64 bit) in keeping with
	  increasing disk capacities and state-of-the-art feature
	  requirements.

	  https://docs.kernel.org/admin-guide/ext4.html
	  https://www.kernel.org/doc/html/latest/filesystems/ext4/index.html
	  https://www.nongnu.org/ext2-doc/ext2.html

config KAS_INCLUDE_HAS_IMAGE_FSTYPES_EXT4
	string
	depends on HAS_IMAGE_FSTYPES_EXT4
	default "image-fstypes/ext4.yaml"

config HAS_IMAGE_FSTYPES_WIC
	bool "Wic"
	help
	  Generate an Image using an Existing Kickstart File.

	  https://docs.yoctoproject.org/dev/dev-manual/wic.html
	  https://docs.yoctoproject.org/dev/ref-manual/kickstart.html#openembedded-kickstart-wks-reference

config KAS_INCLUDE_HAS_IMAGE_FSTYPES_WIC
	string
	depends on HAS_IMAGE_FSTYPES_WIC
	default "image-fstypes/wic.yaml"

config HAS_IMAGE_FSTYPES_USE_WKS_FILE
	bool "Use WKS file"
	depends on HAS_IMAGE_FSTYPES_WIC
	help
	  Specifies the location of the Wic kickstart file that is used
	  by the OpenEmbedded build system to create a partitioned
	  image (image.wic).

if HAS_IMAGE_FSTYPES_USE_WKS_FILE

choice
	prompt "Wic Kickstart file"
	default IS_WKS_FILE_EFI_BOOTDISK_DMVERITY_BOOTLOADER_CONFIG if HAS_IMAGE_CLASSES_DM_VERITY_IMG && \
	                                                               (HAS_IMAGE_CLASSES_GRUB_EFI_CFG || \
	                                                                HAS_IMAGE_CLASSES_SYSTEMD_BOOT_CFG)
	default IS_WKS_FILE_SDIMAGE_AUTOBOOT_TRYBOOT_RASPBERRYPI if HAS_RASPBERRYPI_FIRMWARE_USE_AUTOBOOT_TXT
	default IS_WKS_FILE_SDIMAGE_RASPBERRYPI_DMVERITY if HAS_IMAGE_CLASSES_DM_VERITY_IMG && IS_RASPBERRYPI
	default IS_WKS_FILE_SYSTEMD_BOOTDISK_DMVERITY if HAS_IMAGE_CLASSES_DM_VERITY_IMG && IS_MACHINE_QEMUX86_64

config IS_WKS_FILE_EFI_BOOTDISK_DMVERITY_BOOTLOADER_CONFIG
	bool "efi-disk-dmverity-bootloader-config.wks.in"
	help
	  Create an EFI disk image with custom bootloader config and
	  dm-verity

	  Creates a partitioned EFI disk image that the user can
	  directly dd to boot media. The bootloader configuration
	  source is a generated user file. We need to fetch the
	  partition images from the IMGDEPLOYDIR as the rootfs source
	  plugin will not recreate the exact block device corresponding
	  with the hash tree. We must not alter the label or any other
	  setting on the image.

	  Based on meta-security's systemd-bootdisk-dmverity.wks.in file

	  This .wks only works with the dm-verity-img class.

config IS_WKS_FILE_SDIMAGE_AUTOBOOT_TRYBOOT_RASPBERRYPI
	bool "sdimage-autoboot+tryboot-raspberrypi.wks"

config IS_WKS_FILE_SDIMAGE_RASPBERRYPI_DMVERITY
	bool "sdimage-raspberrypi-dmverity.wks.in"
	help
	  Create Raspberry Pi SD card image with dm-verity

	  Creates a partitioned SD card image for use with Raspberry
	  Pi. Boot files are located in the first vfat partition. A
	  dm-verity variant of the regular wks for Raspberry Pi
	  machines. We need to fetch the partition images from the
	  IMGDEPLOYDIR as the rootfs source plugin will not recreate
	  the exact block device corresponding with the hash tree. We
	  must not alter the label or any other setting on the image.

	  Based on meta-raspberrypi's sdimage-raspberrypi and
	  meta-security's systemd-bootdisk-dmverity.wks.in files

	  This .wks only works with the dm-verity-img class.

config IS_WKS_FILE_SYSTEMD_BOOTDISK_DMVERITY
	bool "systemd-bootdisk-dmverity.wks.in"
	help
	  Create an EFI disk image with systemd-boot and dm-verity

	  A dm-verity variant of the regular wks for IA machines. We
	  need to fetch the partition images from the IMGDEPLOYDIR as
	  the rootfs source plugin will not recreate the exact block
	  device corresponding with the hash tree. We must not alter
	  the label or any other setting on the image.

	  Based on OE-core's systemd-bootdisk.wks and meta-security's
	  beaglebone-yocto-verity.wks.in file

	  This .wks only works with the dm-verity-img class.

endchoice

config KAS_INCLUDE_HAS_IMAGE_FSTYPES_USE_WKS_FILE
	string
	default "image-fstypes/efi-disk-dmverity-bootloader-config.yaml" if IS_WKS_FILE_EFI_BOOTDISK_DMVERITY_BOOTLOADER_CONFIG
	default "image-fstypes/sdimage-autoboot+tryboot-raspberrypi.yaml" if IS_WKS_FILE_SDIMAGE_AUTOBOOT_TRYBOOT_RASPBERRYPI
	default "image-fstypes/sdimage-raspberrypi-dmverity.yaml" if IS_WKS_FILE_SDIMAGE_RASPBERRYPI_DMVERITY
	default "image-fstypes/systemd-bootdisk-dmverity.yaml" if IS_WKS_FILE_SYSTEMD_BOOTDISK_DMVERITY
	default ""

endif

endmenu
