# SPDX-License-Identifier: LGPL-2.1-only
# SPDX-FileCopyrightText: Copyright 2024 Gaël PORTAY

config HAS_LAYER_META_CLANG
	bool "meta-clang"
	select HAS_LAYER_POKY_META
	help
	  Clang C/C++ cross compiler and runtime for OpenEmbedded/Yocto
	  Project.

config KAS_INCLUDE_HAS_LAYER_META_CLANG
	string
	depends on HAS_LAYER_META_CLANG
	default "layers/meta-clang/meta-clang.yaml"
